/*
	p {
		color: red;
	}
*/
html {
	font-size: 10px;
	font-family: "Zen Old Mincho";
	background-color: rgb(166, 187, 185);
}

h1 {
	margin: 0; /*コンテンツの内側がpadding, 境目がborder, 外側がmargin*/
	padding: 20px 0;
	color: blueviolet;
	text-shadow: 3px 3px 1px rgb(244, 255, 146);
	font-size: 60px;
	text-align: center;
}

p,
li {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #f0b99e;
	padding: 0 20px 20px 20px; /*上, 右, 下, 左*/
	border: 5px solid black;
  }
  
  img {
	display: block;
	margin: 0 auto;
  }